[main]
SECRET_KEY=
HOST_MAIN=
DEBUG_MODE=0

[openai]
OPENAI_API_KEY=
OPENAI_ORG_ID=

[mysql]
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_DATABASE=

[redis]
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
REDIS_USER=
