[main]
HOST_MAIN=
DEBUG_MODE=0
CIPHER_KEY=
AUTH_TOKEN=spark_token

[openai]
OPENAI_API_KEY=
DEFAULT_LLM_MODEL=

[mysql]
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_DATABASE=

[redis]
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
REDIS_USER=
